@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body, html {
    background-color: rgba(165, 0, 0, 0.699);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 260px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.575);

    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background:#5f2c82 url(imagens/pexels-andrea-albanese-130507-397431.jpg) no-repeat;
    background-size: cover;
    height: 200px;
    background-position: center right;

}

section#login > div#formulario {
    display: block;
    padding: 15px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.9em;
}

form > div.campo {
    display: block;
    background-color: rgba(255, 255, 0, 0.644);
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
    margin-top: 12px;

}

div.campo > label {
    display: none;
}

div.campo > span {
    color: black;
    font-size: 2em;
    width: 39px;
    padding: 5px;
}

div.campo > input {
    background-color: rgba(255, 255, 0, 0.438);
    font-size: 1em;
    width: calc(100% - 44px);
    height: 100%;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-10px);
}

div.campo > input:focus-within{
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: rgba(175, 15, 15, 0.966);
    color: white;
    border: none; 
    border-radius: 7px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color:  rgba(221, 15, 15, 0.966);
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color:  rgba(221, 15, 15, 0.966);
    border: 1px solid yellow;
    border-radius: 7px;
    text-decoration: none;
    
}

form > a.botao:hover {
    background-color: rgba(255, 255, 0, 0.644);
}

form > a.botao > span {
    font-size: 0.9em;
}